@model SolidCRM.Models.Company
@*<script src="~/theme/bower_components/ckeditor/ckeditor.js"></script>*@
@*UnComment ckEditor when need and apply 'ckeditor' class to that control*@
@Html.AjaxFormSubmiter("myForm", "tbCompany", true, "Action Successfully Executed")

<form id="myForm" asp-action="Create" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Fill Required Info" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Name" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IsActive" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="IsActive" style="margin-top:10px" type="checkbox" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Phone" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="About" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <textarea asp-for="About" class="form-control ckeditor"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Website" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Fax" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Fax" class="form-control" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
