@model SolidCRM.Models.Notes

<link href="~/theme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="~/theme/bower_components/select2/dist/js/select2.full.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2({ maximumSelectionLength: 1 });
    });
</script>
@Html.AjaxFormSubmiter("myForm", "tbNotes", true, "Action Successfully Executed")

<form id="myForm" asp-action="Edit" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Fill Required Info" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Note" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <textarea asp-for="Note" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="DateAdded" value="@DateTime.Now" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="DateModied" value="@DateTime.Now" />
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="AddedByUserId" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="AddedByUserId" asp-items="ViewBag.Users" multiple="multiple" style="width: 100%" class="form-control select2"><option value="">Select</option> </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="ModifiedBy" value="@Env.GetUserInfo("Id",User.Claims)" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
